/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


* {
    /* Primario */
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);

    /* Neutral */
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

body {
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 400;
    color: var(--grayish-blue);
}


/* ============================= */
/* ***** Estilos Generales ***** */
/* ============================= */
.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section {
    padding: 20px;
}
.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 12px 30px;
    border-radius: 50px;
    text-align: center;
}

/* ================================ */
/* ***** Estilos Seccion Hero ***** */
/* ================================ */
.hero__section {
    height: 100vh;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.picture {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
}

.picture,
source {
    width: 100%;
}

.hero__title {
    font-size: 34px;
    color: var(--dark-grayish-blue);
}

.hero__text {
    margin-top: -20px;
    line-height: 26px;
}

.button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.btn--green {
    background-color: var(--strong-cyan);
}

.btn--purple {
    background-color: var(--light-blue);
}


/* ================================= */
/* ***** Diseño Web Responsivo ***** */
/* ================================= */
@media screen and (min-width: 1080px) {

    .hero__section {
        gap: 40px;
    }

    .text {
        width: 650px;
        line-height: 30px;
    }

    .button {
        flex-direction: row;
    }
}